embedlicenses=true
kprotectclparameters=-nomb -swfsize=900x600
krpanoswf=krpano.swf

panotype=sphere

# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto
leveldownload=auto

# output images path
tilepath=%INPUTPATH%/%BASENAME%.tiles/[mres_c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg

xml=true
xmlpath=%INPUTPATH%/%BASENAME%.xml
xmltemplate=xml/default.xml
askforxmloverwrite=false

html=false
# htmlpath=%INPUTPATH%/%BASENAME%.html
# htmltemplate=html/swfkrpano.html
htmltemplate_js=html/swfkrpano.js

# preview setting
preview=false
cspreview=false

# thumb setting
makethumb=true
thumbsize=240